name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Test
        run: make test

  integration-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Build
        run: make build

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.12.0

      - name: Create Testdata in Cluster
        run: ./testing/init.sh

      - name: Run PVMigrate
        run: ./bin/pvmigrate --source-sc int-source --dest-sc int-dest

      - name: Validate Cluster End State
        run: ./testing/validate.sh

  integration-test-incluster:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          file: testing/Dockerfile
          tags: ttl.sh/build-test/pvmigrate:latest

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.12.0

      - name: Create Testdata in Cluster
        run: ./testing/init.sh

      - name: Run PVMigrate
        run: kubectl apply -f testing/yaml/migrate-job.yaml

      - name: Validate Cluster End State
        run: ./testing/validate.sh

  check-goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Unshallow
        run: git fetch --prune --unshallow

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Check GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: check --config deploy/.goreleaser.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
