name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.17

      - name: Test
        run: make test

      - name: Build
        run: make build

      - uses: actions/upload-artifact@v2
        with:
          name: coverage.out
          path: coverage.out

  coverage:
    runs-on: ubuntu-20.04
    needs: [ build ]
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.17

      - name: download coverage.out
        uses: actions/download-artifact@v2
        with:
          name: coverage.out
          path: ./

      - name: coverage conversion setup
        run: go install github.com/jandelgado/gcov2lcov@v1.0.5

      - name: coverage conversion
        run: gcov2lcov -infile=coverage.out -outfile=coverage.lcov

      - name: code coverage comment
        uses: romeovs/lcov-reporter-action@v0.2.16
        with:
          lcov-file: ./coverage.lcov
          github-token: ${{ secrets.GITHUB_TOKEN }}
